/* GLOBAL RESET & FONTS */
*, *::before, *::after {
    box-sizing: border-box; /* Prevents padding from breaking layout widths */
}

body {
    background-color: #2c3e50;
    margin: 0;
    padding: 10px; /* Gives a clean border container look around sections */
    font-family: 'Poppins', sans-serif; /* Applies your imported Google font */
    width: 100%;
    overflow-x: hidden;
}

/* HEADER */
header {
    background-color: black;
    color: aliceblue;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 10px;
}

header h1 {
    font-family: 'Alien Block', sans-serif; 
    margin: 0;
    font-size: 36px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; ]
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #EEEEEE;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    line-height: 1.2;
    margin-top: 15px;
    margin-bottom: 8px;
}

p {
    font-size: 18px;
    color: black; 
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* INTRO  */
.Intro {
    display: flex;
    flex-direction: column;
    background-color: #8B5E3C;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    border-radius: 12px;
}

.Intro p {
    color: #EEEEEE; /* Makes paragraph text readable on brown background */
    max-width: 700px;
}

button {
    background-color: black;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 15px;
    transition: background-color 0.2s ease;
}    

button:hover {
    background-color: #555555;
}

/*  ABOUT  */
.about {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    align-items: center;
    padding: 30px 5%;
    text-align: center;
}

.about h2 {
    color: black;
     align-self: flex-start;
    align-self: right;
    margin-bottom: 20px;
}

.about img {
    display: block;
    width: 100%;
    max-width: 500px; /* Responsive size management */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}    

.about p {
    max-width: 700px;
    margin: 0 auto;
}

/*  MENU  */
.Menu {
    background-color: white;
    border-radius: 12px;
    padding: 30px 5%;
    
}  

.Menu h2 {
    color: black;
    align-self: flex-start;
    text-align: left;

}  

.Menu ul {
    font-size: 18px;
    color: black; 
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 20px;
}

/* FOOTER  */
footer {
    background-color: white;
    border-radius: 12px;
    padding: 30px 5%;
    margin-top: 10px;
    width: 100%;  
}

footer h2 {
    color: black;
    text-align: left;
}

footer p {
    margin: 8px 0;    
    font-size: 16px;
}
